.Homepage {
  display: flex;
  //   align-items: center;
  justify-content: center;
  font-family: "Inter";
  padding-top: 120px;
  padding-bottom: 150px;
  height: calc(100vh - 73px);
  .home-div {
    width: 640px;
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #ffffff;

      h1 {
        font-weight: bold;
        margin-bottom: 20px;
        font-size: 60px;
      }
      .spanned {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: #94a3b8;
      }
    }
    .main {
      height: 198px;
      padding: 20px 20px;
      background-color: #0f172a;
      border: 1px #1e293b solid;
      border-radius: 8px;
      margin-top: 20px;
      form {
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        gap: 10px;
        .fields {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px;
          label {
            font-size: 16px;
            color: #f1f5f9;
          }
          input {
            color: #7e7777;
            font-size: 16px;
            border: 1px #334155 solid;
            border-radius: 8px;
            padding-left: 20px;
            padding-right: 60px;
            padding-top: 16px;
            padding-bottom: 16px;
            background-color: rgba($color: #1e293b, $alpha: 0.5);
          }
          input::placeholder {
            font-size: 16px;
          }
        }
        button {
          margin-top: 10px;
          padding: 20px 60px;
          border-radius: 8px;
          background-color: #3c83f6;
          color: #ffffff;
          font-weight: bold;
          font-size: 16px;
          border: none;
        }
      }
    }
    .output {
      height: 168px;
      padding: 20px 20px;
      background-color: rgba($color: #10b981, $alpha: 0.1);
      border: 2px rgba($color: #10b981, $alpha: 0.3) solid;
      border-radius: 8px;
      margin-top: 20px;
      display: flex;
      gap: 20px;
      flex-direction: column;
      .top {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 20px;
        color: #34d399;
        font-weight: bold;
        .icon-success {
          font-size: 28px;
        }
      }
      .bottom {
        // width: 598px;
        color: #7e7777;
        font-size: 16px;
        border: 1px #334155 solid;
        border-radius: 8px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 16px;
        padding-bottom: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba($color: #1e293b, $alpha: 0.5);

        .copy {
          display: flex;
          align-items: center;
          justify-content: center;
          justify-self: flex-end;
          color: #3c83f6;
          padding: 5px;
          border-radius: 8px;
          cursor: pointer;
          background-color: rgba($color: #3c83f6, $alpha: 0.1);
        }
      }
    }
    .error {
      height: 168px;
      padding: 20px 20px;
      background-color: rgba($color: #f43f5e, $alpha: 0.1);
      border: 2px rgba($color: #10b981, $alpha: 0.3) solid;
      border-radius: 8px;
      margin-top: 20px;
      display: flex;
      gap: 20px;
      //   align-items: center;
      justify-content: center;
      flex-direction: column;
      .top {
        display: flex;
        color: #fb7185;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .icon-wrapper {
          border-radius: 50%;
          background-color: rgba($color: #f43f5e, $alpha: 0.2);
          padding: 5px;
        }
        .error-message {
          display: flex;
          flex-direction: column;
          gap: 5px;
          span {
            font-size: 20px;
            font-weight: bold;
            color: #fb7185;
          }
          p {
            font-size: 16px;
            color: rgba($color: #f43f5e, $alpha: 0.8);
          }
        }
      }
      .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: #fb7185;
        font-weight: bold;
        width: 116px;
        padding: 10px;
        border-radius: 8px;
        background-color: rgba($color: #f43f5e, $alpha: 0.2);
      }
    }
  }
}
