.Navbar {
  display: flex;
  height: 73px;
  width: 100%;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  font-family: "Inter";
  font-weight: bold;
  color: #cbd5e1;
  background-color: #101722;
  border-bottom: 1px #1e293b solid;
  padding: 10px 60px;
  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    span {
      font-size: 20px;
    }
    img {
      width: 25px;
      height: 12.5px;
    }
  }
  .center {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    font-size: 16px;
    justify-self: center;
    font-weight: normal;
  }
}
